/*
Table of Contents
1. Colors
2. Icon & Font Sizes
3. Spacing
4. Breakpoints
5. misc
*/


// Colors
$background: #36454f;
$background_two: #1a2125;
$text: #eee;
$accent_one: #865b36;
$accent_two: #ffd700;

// Icon & Font Sizes
$font_size: 10px;
$header: 64px;
$icon_size: 3rem;

// Spacing
$grid_gap: 15px;


// Breakpoitns
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// misc
$drop_shadow: 10px 10px 4px rgba(0,0,0,0.7);